<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="pl"
      th:include="layout :: page">
<head>
  <title th:fragment="pageTitle">WPR-BET Zarządzanie drużynami</title>
</head>
<body>
<div th:fragment="content">
  <div class="container" role="main">
    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header" th:text="#{administration.teams.page}">Administracja drużynami</h1>
        <ol class="breadcrumb">
          <li><a href="index.html">wpr-bet</a>
          </li>
          <li class="active" th:text="#{administration.teams.page}">Administracja drużynami</li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-heading" th:text="#{administration.teams.title}">Drużyny</div>
          <div class="panel-body">
            <form class="form-inline" action="#" th:action="@{index}" th:object="${teamForm}"
                  method="post">
              <span class="help-block" th:text="#{administration.teams.form.description}">Tutaj możesz dodać nową drużynę.</span>
              <div class="form-group" th:classappend="${#fields.hasErrors('*')} ? has-error">
                <input type="text" class="form-control" th:field="*{name}" required
                       th:placeholder="#{administration.teams.form.input.name}"/>
              </div>
              <div class="form-group">
                <select class="form-control" th:field="*{teamType}">
                  <option th:each="type : ${teamTypes}" th:value="${type}"
                          th:text="#{${'team-type.' + type}}">Reprezentacja
                  </option>
                </select>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-default"
                        th:text="#{administration.teams.form.submit}">Dodaj
                </button>
              </div>
              <div th:if="${#fields.hasErrors('*')}" class="has-error">
                <strong><span th:errors="*{name}" class="help-block">Nieprawidłowa nazwa</span></strong>
              </div>
            </form>
            <!--<div th:if="${#fields.hasErrors('${teamForm.*}')}" class="alert alert-danger" role="alert">-->
              <!--<strong><p th:errors="${teamForm.name}">Nieprawidłowa nazwa</p></strong>-->
            <!--</div>-->
            <!--<div th:if="${not #fields.hasErrors('${teamForm.*}')}" class="alert alert-success" role="alert">-->
              <!--<strong><p th:text="#{administration.teams.form.submit.success}">Drużyna została dodana</p></strong>-->
            <!--</div>-->
          </div>
          <!--Table with teams-->
          <table class="table table-hover table-bordered" th:unless="${#lists.isEmpty(teams)}">
            <thead>
            <tr>
              <th>#</th>
              <th th:text="#{administration.teams.table.header.name}">Nazwa</th>
              <th th:text="#{administration.teams.table.header.type}">Typ</th>
              <th></th>
              <!--<th></th>-->
            </tr>
            </thead>
            <tbody>
            <tr th:each="team, i : ${teams}">
              <td th:text="${i.count + '.'}">1</td>
              <td th:text="${team.name}">Polska</td>
              <td th:text="#{${'team-type.' + team.teamType}}">Reprezentacja</td>
              <!--<td>-->
                <!--<form class="form-inline" action="#" th:action="@{edit}" method="post">-->
                  <!--<input th:type="hidden" th:name="teamId" th:value="${team.id}"/>-->
                  <!--<button type="submit" class="btn btn-primary"-->
                          <!--th:text="#{administration.teams.edit.form.submit}">Edytuj-->
                  <!--</button>-->
                <!--</form>-->
              <!--</td>-->
              <td>
                <form class="form-inline" action="#" th:action="@{remove}" method="post">
                  <input th:type="hidden" th:name="teamId" th:value="${team.id}"/>
                  <button type="submit" class="btn btn-danger"
                          th:text="#{administration.teams.remove.form.submit}">Usuń
                  </button>
                </form>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>


    <hr>
    <!-- Footer -->
    <footer>
      <div class="row">
        <div class="col-lg-12">
          <p>Copyright &copy; WPR-BET 2017</p>
        </div>
      </div>
    </footer>


  </div>
</div>
</body>
</html>